/*Styles for all*/
body {
    background: #F9C6BD;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

.box-model {
    display: block; 
    height: 720px; 
    margin: 0px auto; 
    width: 967px;
}

.info h2 {
    color: #ff4d4d;
    font-size: 2.5rem;
}

.info p {
    color: white;
    font-size: 1.15rem;
    line-height: 2;
    font-family: 'Open Sans', cursive;
}

#mainNav {
    font-family: 'Amatic SC', Arial, Helvetica;
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNav .nav-link {
    color: #ffffff;
}

#mainNav .nav-link:hover {
    color: #e8b121;
}

.navbar .navbar-brand {
    color: #133b37;
    font-size: 2.5rem;
}

#headingGroup span {
    color: #ff4d4d;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

#footer {
    background: #ec4424 !important;
    word-spacing: 30px;
}

#footer a {
    color: #ffffff;
    background-color: transparent;
    font-size: 2rem;
}

#footer ul.social li:hover a i {
	font-size: 3rem;
    margin-top:-10px;
    color:#e8b121;
}

.navbar.scrolled {
    background: #ec4424;
    transition: 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
}

/*Styles for Technical Blog*/

#technical-blog {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#technical-blog .img-fluid {
    max-width: 100%;
    height: auto;
}


.bg-light {
    background-color: #f5fffa!important;
}

#technical-blog .jumbotron {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    background-color: #ec4424;
    color: #ffffff;
    margin-top: 80px;
    border-bottom: 80px;
}

#technical-blog .border-example {
    border: 5px solid orange;
}

.blog-sidebar {
    font-size: 75%;
    margin-top: 2rem;
}

#technical-blog .jumbotron .lead {
    font-weight: bold
}

.card-text {
    color: black;
    background-color: white;
}

code {
    font-family: consolas,"Liberation Mono",courier,monospace;
    color:#ffffff;
    background-color: rgb(110, 98, 98)
}





